{#

 Copyright (C) 2017 Andrew SASSOYE

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, version 3.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.

#}

<div class="jumbotron">
    <h1>Mon entreprise</h1>
    <p class="lead">Les champs ci-dessous peuvent être repris dans la brochure. Complétez les champs qui vous semblent
        les plus intéressants pour votre entreprise.</p>
</div>


{{ form_start(form) }}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Informations générales</h4>
            </div>
            <div class="card-body">
                {{ form_row(form.nom) }}
                {{ form_row(form.tva) }}
                {{ form_row(form.adresseSiege) }}
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.postalSiege) }}


                    </div>
                    <div class="col-md-8">
                        {{ form_row(form.villeSiege) }}
                    </div>
                </div>
                {{ form_row(form.paysSiege) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Logo / Page de pub</h4>
            </div>
            <div class="card-body">
                {{ form_row(form.logoHQ) }}
                {{ form_row(form.pub) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Entreprise</h4>
            </div>
            <div class="card-body">
                {{ form_row(form.presentation) }}
                {{ form_row(form.secteur) }}
                {{ form_row(form.pointsForts) }}
                {{ form_row(form.effectifs) }}
                {{ form_row(form.chiffreAffaire) }}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Reseaux sociaux</h4>
            </div>
            <div class="card-body">
                {{ form_row(form.siteweb) }}
                {{ form_row(form.linkedIn) }}
                {{ form_row(form.facebook) }}
                {{ form_row(form.twitter) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Recrutement</h4>
            </div>
            <div class="card-body">
                {{ form_row(form.personneRecrutement) }}
                {{ form_row(form.adresseRecrutement) }}
                {{ form_row(form.implementation) }}
                {{ form_row(form.nbUniversitaires) }}
                {{ form_row(form.evolution) }}
                {{ form_row(form.conseil) }}

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Profil recherché</h4>
            </div>
            <div class="card-body">
                {{ form_row(form.profilsRecherches) }}
                {{ form_row(form.masters) }}
            </div>
        </div>
    </div>


</div>
<div class="row">

</div>


<div class="col-12">
    <div class="card">
        <div class="card-body">
            {{ form_rest(form) }}
            <button type="submit" class="btn">Sauvegarder</button>
        </div>
    </div>
</div>


{{ form_end(form) }}

