{#

 Copyright (C) 2017 Andrew SASSOYE

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, version 3.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.

#}
{%- block sonata_page_html_tag -%}
<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
{% endblock %}
{% block sonata_page_head %}
	<head {{ sonata_seo_head_attributes() }}>
		{{ sonata_seo_metadatas() }}
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		{{ sonata_seo_title() }}

		{% block sonata_page_stylesheets %}
			  {{ encore_entry_link_tags('app') }}
		  {% endblock %}

		{{ sonata_seo_link_canonical() }}
		{{ sonata_seo_lang_alternates() }}

		{% include 'aees/analytics.html.twig' %}

	</head>
{% endblock %}
{% block sonata_page_body_tag %}
<body>
{% endblock %}


<div class="container" id="content">
	<div class="row">
		<div class="col-lg-12">
			{% block page_content %}

			{% endblock %}
			{% block content %}{% endblock %}
		</div>
	</div>
</div>


{% block sonata_page_javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}


</body>
</html>